<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Antrian Rumah Sakit</title>
</head>
<body>
    <header>
        <a asp-controller="Home" asp-action="Index">Home</a>&nbsp;
        <a asp-controller="Home" asp-action="Ganteng">Ganteng</a>
        <hr />
    </header>
    @RenderBody()
</body>
</html>
