@{
    ViewData["Title"] = "Listener Face Recognition";
    Layout = "Dashboard/_Layout";

    string url = ViewData["HubURL"] as string ?? "";
}

@section Navbar {
  <partial name="Home/Navbar" />
}

@section PageBody {
  <script src="~/dist/libs/signalr/signalr.min.js"></script>
  <div class="container-xl">
    <div class="row">
      <div class="col-lg-8 d-flex">
        <h1 class="m-auto">Simpan window Face Detectionnya di sini!</h1>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <p>Listener goes here!</p>
            <p id="detected-face">Belum ada muka yang terdeteksi</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(() => {
      const client = new signalR.HubConnectionBuilder()
        .withUrl('@url')
        .configureLogging(signalR.LogLevel.Information)
        .build()
      
      client.on('ReceiveMessage', (data) => {
        data = JSON.parse(data)
        console.log(data)
        if (data.User !== "FaceReg" || data.Message === "0") return

        $('#detected-face').text(`Muka yang terdeteksi adalah ${data.Message}`)
      })

      client.start()
        .then(() => {
          client.send('BroadcastMessage', 'WebListener', 'Heads off, Webserver Listener is ready!')
        })
    })
  </script>
}