@{
    ViewData["Title"] = "Register Pasien";
    Layout = "Dashboard/_Layout";
}

@section Navbar {
    <partial name="Home/Navbar" />
}

@section PageBody {
  <div class="container-xl">
    <div class="card">
      <div class="card-header">
        <h1>Registrasi Pasien</h1>
      </div>
      <div class="card-body">
        <p>Silahkan diisi data-data di bawah ini dengan baik dan benar.</p>

        <div class="row">
          <div class="col-md-12 col-xl-6 mb-3 p-3">
            <label class="form-label">NIK</label>
            <input type="number" min="1000000000000000" class="form-control" name="NIK" id="nik" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xl-6 mb-3 p-3">
            <label class="form-label">Nama</label>
            <input type="text" name="nama" id="Nama" class="form-control">
          </div>
          <div class="col-md-12 col-xl-6 mb-3 p-3">
            <label class="form-label">Jenis Kelamin</label>
            <div>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="JenisKelamin" value="Laki-laki">
                <span class="form-check-label">Laki-laki</span>
              </label>
              <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="JenisKelamin" value="Perempuan">
                <span class="form-check-label">Perempuan</span>
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script>
    console.log("Reserved for JSON register")
  </script>
}