@{
    ViewData["Title"] = "Register Pasien";
    Layout = "Dashboard/_Layout";
}

@section Navbar {
    <partial name="Home/Navbar" />
}

@section PageBody {
  <div class="container-xl">
    <div class="card my-2">
      <div class="card-body">
        <p>Silahkan diisi data-data di bawah ini dengan baik dan benar.</p>
      </div>
    </div>

    <div class="card my-2">
      <div class="card-body">

        <div class="row">
          <div class="col-md-12 col-xl-6 mb-3 p-3">
            <label class="form-label">NIK</label>
            <input type="number" class="form-control" name="NIK" id="nik" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xl-6 mb-3 p-3">
            <label class="form-label">Nama</label>
            <input type="text" name="nama" id="Nama" class="form-control" required>
          </div>
          <div class="col-md-12 col-xl-6 mb-3 p-3">
            <label class="form-label">Jenis Kelamin</label>
            <div>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="JenisKelamin" value="Laki-laki">
                <span class="form-check-label">Laki-laki</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="JenisKelamin" value="Perempuan">
                <span class="form-check-label">Perempuan</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xl-6 mb-3 p-3">
            <label class="form-label">Tempat Lahir</label>
            <input type="text" name="nama" id="TempatLahir" class="form-control" required>
          </div>
          <div class="col-md-12 col-xl-6 mb-3 p-3">
            <label class="form-label">Tanggal Lahir</label>
            <div class="input-icon mb-2">
              <input type="text" name="TanggalLahir" class="form-control" data-mask="00/00/0000" data-mask-visible="true" placeholder='@DateTime.Now.ToString("dd/MM/yyyy")' autocomplete="off" required/>
              <span class="input-icon-addon">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="4" y="5" width="16" height="16" rx="2" /><line x1="16" y1="3" x2="16" y2="7" /><line x1="8" y1="3" x2="8" y2="7" /><line x1="4" y1="11" x2="20" y2="11" /><line x1="11" y1="15" x2="12" y2="15" /><line x1="12" y1="15" x2="12" y2="18" /></svg>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xl-6 mb-3 p-3">
            <label class="form-label">Agama</label>
            <div>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="Agama" value="0">
                <span class="form-check-label">Islam</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="Agama" value="1">
                <span class="form-check-label">Kristen</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="Agama" value="2">
                <span class="form-check-label">Katholik</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="Agama" value="3">
                <span class="form-check-label">Hindhu</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="Agama" value="4">
                <span class="form-check-label">Buddha</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="Agama" value="5">
                <span class="form-check-label">Lain-lain</span>
              </label>
            </div>
          </div>
          <div class="col-md-12 col-xl-6 mb-3 p-3">
            <label class="form-label">Status Pernikahan</label>
            <div>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="StatusPerkawinan" value="0">
                <span class="form-check-label">Kawin</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="StatusPerkawinan" value="1">
                <span class="form-check-label">Belum Kawin</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="StatusPerkawinan" value="2">
                <span class="form-check-label">Janda</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="StatusPerkawinan" value="3">
                <span class="form-check-label">Duda</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xl-6 mb-3 p-3">
            <label class="form-label">No Telp</label>
            <input type="number" class="form-control" name="NoTelp" id="NoTelp" required>
          </div>
          <div class="col-md-12 col-xl-6 mb-3 p-3">
            <label class="form-label">Kewarganegaraan</label>
            <div>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="Kewarganegaraan" value="0">
                <span class="form-check-label">WNA</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="Kewarganegaraan" value="0">
                <span class="form-check-label">WNI</span>
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xl-6 mb-3 p-3">
            <label class="form-label">Pendidikan Terakhir</label>
            <div>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="PendidikanTerakhir" value="0">
                <span class="form-check-label">Tidak Sekolah</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="PendidikanTerakhir" value="1">
                <span class="form-check-label">SD</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="PendidikanTerakhir" value="2">
                <span class="form-check-label">SMP</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="PendidikanTerakhir" value="3">
                <span class="form-check-label">SMA</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="PendidikanTerakhir" value="4">
                <span class="form-check-label">Diploma/Sarjana</span>
              </label>
            </div>
          </div>
          <div class="col-md-12 col-xl-6 mb-3 p-3">
            <label class="form-label">Pekerjaan</label>
            <div>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="Pekerjaan" value="0">
                <span class="form-check-label">PNS</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="Pekerjaan" value="1">
                <span class="form-check-label">Pedagang</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="Pekerjaan" value="2">
                <span class="form-check-label">TNI/POLRI</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="Pekerjaan" value="3">
                <span class="form-check-label">Pelajar/Mahasiswa</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="Pekerjaan" value="4">
                <span class="form-check-label">Karyawan</span>
              </label>
              <label class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="Pekerjaan" value="5">
                <span class="form-check-label">Lain-lain</span>
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="card my-2">
      <div class="card-body">
        <p>Reserved for alamat, mager vos</p>
      </div>
    </div>
  </div>

  <script>
    console.log("Reserved for JSON register")
  </script>
}