@{
    ViewData["Title"] = "Landing Page";
}

<div class="container vw-100 vh-100 d-flex">
    <a asp-controller="Login" asp-action="Index" class="m-auto">
        <h1>Login</h1>
    </a>
</div>