@{
    ViewData["Title"] = "Dashboard";
}

<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Dashboard</h2>
                <p class="text-center">Rencananya ini dashboard bede, tapi belumpi jadi landing pagenya.</p>
                <hr>
                <a asp-controller="Auth" asp-action="Logout">
                    <button class="btn btn-primary w-100">Logout</button>
                </a>
            </div>
        </div>
    </div>
</div>