@{
    ViewData["Title"] = "Akses Ditolak";
}

<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Akses Ditolak</h2>
                <p class="text-center">Anda telah login sebelumnya. Silahkan masuk di dashboard.</p>
                <hr>
                <a asp-controller="Dashboard" asp-action="Index">
                    <button class="btn btn-primary w-100">Ke Dashboard</button>
                </a>
            </div>
        </div>
    </div>
</div>