@{
    ViewData["Title"] = "Login";
}

<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="card card-md">
            <div class="card-body">
            </div>
    </div>
</div>