@{
    ViewData["Title"] = "Buat Admin";
}

<div class="page page-center">
    <div class="container container-tight py-4">
    <div class="card card-md">
        <div class="card-body">
        <h2 class="h2 text-center mb-4">Buat Admin</h2>
        <p>Dikarenakan admin belum dibuat, silahkan membuat akun admin terlebih dahulu.</p>
        <form asp-controller="Login" asp-action="RegisterAdmin" autocomplete="off" novalidate>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" placeholder="your@email.com" name="email" autocomplete="off">
            </div>
            <div class="mb-2">
                <label class="form-label">Password</label>
                <div class="input-group input-group-flat">
                    <input type="password" class="form-control"  placeholder="Your password" name="password" autocomplete="off">
                </div>
            </div>
            <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">Buat Akun</button>
            </div>
        </form>
    </div>
</div>