@using ProjectKonsentrasi.Webserver.Models.Database

@{
    ViewData["Title"] = "Manajemen Klinik Tujuan";
    Layout = "Dashboard/_Layout";

    var data = ViewData["Data"] as List<ListKlinikTujuan>;
}

@section Navbar {
  <partial name="Dashboard/Navbar" />
}

@section ActionButton {
  <div class="btn-list">
    <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <line x1="12" y1="5" x2="12" y2="19"></line>
    <line x1="5" y1="12" x2="19" y2="12"></line></svg> Tambah Data</a>
  </div>
}

@section PageBody {
  <div class="container-xl">
    <div class="card">
      <div class="card-body">
        <p>Test</p>
      </div>
    </div>
  </div>
}